<!DOCTYPE>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>字典内容详情</title>
<script type="text/javascript" src="../../common/include.js"></script>
<script type="text/javascript" src="datadic_detail.js"></script>
</head>
<body>
	<form id="saveDataForm">
		<input v-model="dicCode" name="dicCode" id="dicId" type="hidden" /> <input
			v-model="id" name="id" id="dicId" type="hidden" />
		<table border="0" width="100%" cellpadding="0" cellspacing="0"
			class="commTable">
			<tbody>
				<tr>
					<th>编码<span class="required">*</span>
					</th>
					<td><v-input defValue="code" name="code" id="code"
							class="inputStyle easyui-validatebox" required="true" type="text"></v-input>
						<font color="red">注意:名字在页面显示，数据库里面存编码。</font></td>
				</tr>
				<tr>
					<th>名字<span class="required">*</span>
					</th>
					<td><v-input defValue="dataName" name="dataName"
							required="true" maxLen="20" class="inputStyle easyui-validatebox"></v-input>
					</td>
				</tr>
				<tr>
					<th>备注</th>
					<td><textarea v-model="note" rows="" cols="" name="note"
							class="input_textarea easyui-validatebox" maxLen="50"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

</body>
</html>
