<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>分配数据范围</title>
<script type="text/javascript" src="../../common/include.js"></script>
<script type="text/javascript" src="userManage_group.js"></script>
</head>
<body>
	<form id="formSearch">
		<table border="0" width="100%" cellpadding="0" cellspacing="0"
			class="commTable">
			<tr>
				<td>点击<font
					style="font-weight: bold; font-size: 15px; color: red;">X</font>可删除该用户，没有用户时页面自动关闭
				</td>
			</tr>
			<tr>
				<td>您正在为 <span v-for="user in userList" v-bind:userId="user.id"
					name="names_span"> <input v-model="user.id" type="hidden"
						name="names_input" /> {{user.realName}} <a
						@click="remove(user.id)"
						style="font-weight: bold; font-size: 15px; color: red;" href="###">X</a>&nbsp;&nbsp;&nbsp;

				</span> 分配数据范围
				</td>
			</tr>
			<tr>
				<td><input type="hidden" id="groupId" name="groupId"
					v-model="groupId" /></td>
			</tr>
		</table>
		<table border="0" width="100%" cellpadding="0" cellspacing="0"
			class="commTable">
			<tbody>

				<tr>
					<th>数据范围名称</th>
					<td><input class="inputStyle" type="text" name="groupName"
						id="groupName" /></td>
					<td><input type="button" name="button" value="查询" title="查询"
						class="v_button" id="btnSearch" /> &nbsp;&nbsp; <input
						type="reset" name="button" value="重置" title="重置" class="r_button" />
					</td>
				</tr>
				<!-- 列表 -->
				<div class="listArea">
					<table id="mainGrid"></table>
				</div>

				<!-- 分页 -->
				<div id="mainGridPager"></div>
			</tbody>
		</table>
	</form>
</body>
</html>
