<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>COC-后台配置管理</title>
<script type="text/javascript" src="../../common/include.js"></script>
<script type="text/javascript" src="userManage_editInformation.js"></script>
</head>
<body>
	<div style="width: 672px; height: 280px; overflow: auto">
		<form id="saveDataForm">
			<table border="0" width="100%" cellpadding="0" cellspacing="0"
				class="commTable">
				<tbody>
					<input id="userid" name="id" v-model="user.id" type="hidden" />
					<tr>
						<th>用户名</th>
						<td>{{user.userName}}</td>
						<th>真实姓名</th>
						<td><v-input id="user.realName" name="realName"
								defValue="user.realName" class="inputStyle easyui-validatebox"
								validType="blankVid"></v-input></td>
					</tr>
					<tr>
						<th>性别</th>
						<td><v-input name="sex" defValue="user.sex" type="text"
								dataDic="SEX" class="inputStyle easyui-validatebox" />
							</v-input></td>
						<th>手机</th>
						<td><input id="user.phoneNumber" name="phoneNumber"
							v-model="user.phoneNumber" class="inputStyle easyui-validatebox"
							validType="mobilePhone" /></td>
					</tr>

					<tr>

						<th>邮箱</th>
						<td colspan="3"><input id="user.email" name="email"
							v-model="user.email" class="inputStyle easyui-validatebox"
							validType="email" /></td>

					</tr>

					<tr>
						<th>数据范围</th>
						<td>{{user.groupNames}} <a id="edit_user_group"
							class="s_edit"></a>
						</td>
						<th>角色</th>
						<td>{{user.roleNames}} <a id="edit_user_role" class="s_edit"></a>
						</td>
					</tr>

				</tbody>
			</table>
		</form>
	</div>
</body>
</html>
