<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>资源管理新增/编辑</title>
		<script type="text/javascript" src="../../common/include.js"></script>
		<script type="text/javascript" src="resource_add.js"></script>
	</head>
	<body>
		<form id="saveDataForm">
			<table border="0" width="100%" cellpadding="0" cellspacing="0" class="commTable">
				<tbody>
					<input v-model="resourceId" name="resourceId" id="resourceId" type="hidden" />
					<input v-model="parentId" name="parentId" id="parentId"  type="hidden"/>
					<tr>
						<th>
							资源名称<span class="req">*</span>
						</th>
						<td>
							<v-input defValue="resourceName" name="resourceName"
								id="resourceName" class="inputStyle easyui-validatebox"
								required="true" maxLen="30" ></v-input>
								  <!-- easyui-validatebox -->
						</td>
						
						<th>
							资源编码<span class="req">*</span>
						</th>
						<td>
							<v-input defValue="resourceCode" name="resourceCode"
								id="resourceCode" class="inputStyle easyui-validatebox" 
								required="true" maxLen="30" ></v-input>
								 <!-- easyui-validatebox -->
						</td>
					</tr>
					
					<tr>
						<th>
							资源值<span class="req">*</span>
						</th>
						<td colspan="3">
							<v-input defValue="address" name="address"
								id="address" class="inputStyle easyui-validatebox" 
								required="true" maxLen="500"  style="width:400px;"/></v-input>
								 <!-- easyui-validatebox -->
						</td>
					</tr>
					<tr>
					<th>资源类型<span class="req">*</span></th>
						<td><v-input id="type" name="type" defValue="type" type="text" 
						class="inputStyle easyui-validatebox" required="true" datadic="ZYLXZD" ></v-input></td>
						<th>
							序号
						</th>
						<td>
							<input v-model="dispOrder" name="dispOrder"
								id="dispOrder" class="inputStyle"  maxLen="30" />
						</td>
					</tr>
					<tr>
						<th >
							父资源<span class="req">*</span>
						</th>
						<td colspan="3">
							<v-input defValue="parentName" id="parentName" name="parentName" class="easyui-validatebox read_inputStyle" 
								required="true" maxLen="30" readonly="readonly" /></v-input>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<table style="width:100%;">
								<tr>
									<td >
										<div style="width:123px;height: 210px; overflow: auto;">
											<ul class="simpleTree" id="tree"
												style="margin-left: 5px; margin-top: 5px;">
												<li class="root" id="sRoot">
													<span class='text' id="root">前台菜单</span>
												</li>
											</ul>
										</div>
									</td>
									<td>
										<div style="width:123px;height: 210px; overflow: auto;">
											<ul class="simpleTree" id="simpleTree"
												style="margin-left: 5px; margin-top: 5px;">
												<li class="root" id="simpleRoot">
													<span class='text' id="roots">后台菜单</span>
												</li>
											</ul>
										</div>
									</td>
									<td>
										<div style="width:123px;height: 210px; overflow: auto;">
											<ul class="simpleTree" id="appTree"
												style="margin-left: 5px; margin-top: 5px;">
												<li class="root" id="simpleRootAPP">
													<span class='text' id="roots">接口资源</span>
												</li>
											</ul>
										</div>
									</td>
									<td>
										<div style="width:123px;height: 210px; overflow: auto;">
											<ul class="simpleTree" id="elementTree"
												style="margin-left: 5px; margin-top: 5px;">
												<li class="root" id="simpleEle">
													<span class='text' id="roots">页面元素</span>
												</li>
											</ul>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>
