/* 文本超出部分样式 */
.text_overflow{
	text-decoration:none; 
	display:block; 
	overflow:hidden;          /*超出部分隐藏*/
	white-space:nowrap;
    /*文本溢出用"..."表示*/
	text-overflow:ellipsis;                    /*适用IE*/
	-o-text-overflow:ellipsis;                 /*适用opera*/
	-moz-binding: url('ellipsis.xml#ellipsis');/*适用火狐(firefox通过XUL实现效果)*/
}