.Wdate {
	background: #fff url(datePicker.gif) repeat-x right;
	width: 140px;
}
/*	background:#fff url(datePicker.gif) no-repeat left;*/
.WdateFmtErr {
	font-weight: bold;
	color: red;
}

.read_Wdate {
	background: #CCCCCC url(read_wate.jpg) no-repeat left;
}