<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>角色新增/编辑</title>
<script type="text/javascript" src="../../common/include.js"></script>
<script type="text/javascript" src="role_add.js"></script>
</head>
<body>
	<form id="saveDataForm">
		<table border="0" width="100%" cellpadding="0" cellspacing="0"
			class="commTable">
			<tbody>
				<input id="id" name="id" type="hidden" v-model="role.id" width="1px" />
				<tr>
					<th>角色名称<span class="req">*</span>
					</th>
					<td><v-input defValue="role.roleName" name="role.roleName"
							maxLen="30" id="roleName" class="inputStyle easyui-validatebox"
							required="true"></v-input></td>
				</tr>
				<tr>
					<th>角色标识</th>
					<td><input v-model="role.pictureHome" value=""
						name="role.pictureHome" id="pictureHome" class="inputStyle" /></td>
				</tr>
				<tr>
					<th>备注</th>
					<td><textarea v-model="role.roleDesc" rows="" cols=""
							name="role.roleDesc" style="resize: none; margin-top: 3px"
							maxLen="150" class="input_textarea easyui-validatebox"
							id="roleDesc"></textarea></td>
				</tr>
			</tbody>
		</table>
		<table border="0" width="100%" cellpadding="0" cellspacing="0"
			class="commTable">
			<input id="selectTrees" name="selectTrees" v-model="tree"
				type="hidden" />
			<tbody width="700px;">
				<tr>
					<td colspan="4">角色赋权<span class="req">*</span>
					</td>
				</tr>
				<tr>
					<td width="233px">
						<div style="width: 171px; height: 210px; overflow: auto;">
							<ul class="simpleTree" id="tree"
								style="margin-left: 5px; margin-top: 5px;">
								<li class="root" id="sRoot"><span class='text' id="root">前台菜单</span>
								</li>
							</ul>
						</div>
					</td>
					<td width="233px">
						<div style="width: 171px; height: 210px; overflow: auto;">
							<ul class="simpleTree" id="simpleTree"
								style="margin-left: 5px; margin-top: 5px;">
								<li class="root" id="simpleRoot"><span class='text'
									id="roots">后台菜单</span></li>
							</ul>
						</div>
					</td>
					<td width="233px">
						<div style="width: 171px; height: 210px; overflow: auto;">
							<ul class="simpleTree" id="appTree"
								style="margin-left: 5px; margin-top: 5px;">
								<li class="root" id="simpleRootAPP"><span class='text'
									id="approot">接口资源</span></li>
							</ul>
						</div>
					</td>
					<td>
						<div style="width: 171px; height: 210px; overflow: auto;">
							<ul class="simpleTree" id="elementTree"
								style="margin-left: 5px; margin-top: 5px;">
								<li class="root" id="simpleEle"><span class='text'
									id="roots">页面元素</span></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>