<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	</head>
	<body>
		<li id="10">
			<span class='text'>节点10节点10节点10节点10节点10</span>
			<ul>
				<li id="10_01">
					<span class='text'>节点10_01节点10_01节点10_01节点10_01</span>
					<ul>
						<li id="10_01_01" showDelete="true">
							<span class='text' >节点10_01_01节点10_01_01</span>
						</li>
						<li id="10_01_02" showDelete="true">
							<span class='text'>节点10_01_02</span>
						</li>
					</ul>
				</li>
				<li id="10_02">
					<span class='text'>节点10_02节点10_02节点10_02节点10_02</span>
				</li>
			</ul>
		</li>
		<li id="20">
			<span class='text'>节点20节点20节点20节点20节点20节点20</span><br />
			<ul>
				<li id="20_01">
					<span class='text'>节点20_01</span>
				</li>
				<li id="20_02">
					<span class='text'>节点20_02</span>
				</li>
			</ul>
		</li>
	</body>
</html>