<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>数据权限新增/编辑</title>
		<script type="text/javascript" src="../../common/include.js"></script>
		<script type="text/javascript" src="group_add.js"></script>
	</head>
	<body>

		<form id="saveDataForm">
			<table border="0" width="100%" cellpadding="0" cellspacing="0"
				class="commTable">
				<tbody>
					<input id="group.id" name="group.id" type="hidden"
						v-model="group.id" />
					<tr>
						<th>
							数据权限名称<span class="req">*</span>
						</th>
						<td>
							<input v-model="group.groupName" name="group.groupName"
								id="group.groupName" class="inputStyle easyui-validatebox"
								required="true" maxLen="30" />
						</td>
					</tr>
					<tr>
						<th>
							数据权限描述
						</th>
						<td>
							<textarea v-model="group.groupDesc" rows="" cols="" name="group.groupDesc" style="resize:none;" maxLen="150"
								class="input_textarea easyui-validatebox" id="group.groupDesc"></textarea>
						</td>
					</tr>
				</tbody>
			</table>

			<table border="0" width="100%" cellpadding="0" cellspacing="0"
				class="commTable">
				<tbody>
					<tr>
						<td>
							可看数据权限<span class="req">*</span>
						</td>
					</tr>
					<tr>
						<td>
							<div style="height: 245px; overflow: auto;">
								<input type="hidden" id="selectTrees" name="selectTrees" v-model="tree">
									<ul class="simpleTree" id="tree"
										style="margin-left: 5px; margin-top: 5px;">
										<li class="root" id="sRoot">
											<span class='text' id="root">组织</span>
										</li>
									</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</form>

	</body>

</html>